<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">I would like to introduce myself to you</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <p class="text-muted"></p>
                </div>
                <div class="col-md-4">
                    <img src="img/S.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <div class="row text-right">
                        <h4 class="service-heading" style="padding: 20px 18px 0px 0px;">SoonUk Kwon</h4>
                    </div>
                    <div class="row text-right">
                        <p class="text-muted" style="padding: 18px;">SoonUk Kwon graduated with M.S. in Computer Science and B.S. in Mechanical Engineering from Yonsei University. He worked as a Human-Machine Interface (HMI) software developer at Continental. His prior research focused on navigation techniques in virtual reality. He is interested in new interaction methods using modern technology, such as VR/AR, considering a user-centered perspective.</p>    
                    </div>
                    <!-- <div class="row">
                        <p class="text-muted" style="padding: 18px;">ABC</p>
                    </div> -->
                </div>
                <div class="col-md-1">
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>